.article-wrapper {
  flex-grow: 1;
  padding: 20px;
  @media (min-width: 500px) {
    margin: 40px;
    padding: 30px 74px;
  }
}

.article__with-border {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  border-style: solid;
  border-color: $light-gold;
  border-width: 2px;
}

.article__no-border {
  border-style: none;
}

.article {
  display: flex;
  justify-content: center;
  background-color: $black;
  min-height: 95vh;
  padding: 2vh;
  margin: 10px;
  @media (min-width: 800px) {
    margin: 45px;
  }
}
.article-title {
  color: $white;
  text-decoration: underline;
  text-decoration-color: $light-gold;
  order: 0;
  font-size: 2em;
  text-align: center;
  margin: 30px 0px 0px;
  @media (min-width: 400px) {
    font-size: 3.5em;
    text-align: left;
    margin: 10px 0px 0px;
  }
}

.hero-header {
  margin: 0px;
  font-size: 3em;
  letter-spacing: -1px;
  color: $white;
  @media (min-width: 900px) {
    font-size: 4em;
  }
}

.hero-subheader {
  font-size: 1.5em;
  line-height: 2em;
  font-style: normal;
  color: $rose;
  padding-top: 1em;
  margin: 0px;
  @media (min-width: 900px) {
    font-size: 2.75em;
  }
}
