.article-small {
  background-color: hotpink;
  padding-top: 20px;
}

.article-header {
  background-color: $black;
  color: $rose;
  text-align: left;
}

.section {
  background-color: $rose;
  margin: 0 45px;
  padding: 45px;
  height: 100vh;
  scroll-behavior: smooth;
}
