.headroom--unfixed {
  position: fixed;
}

.site-header {
  background-color: $black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px solid white;
  @media (min-width: 500px) {
    min-height: 3em;
    justify-content: flex-end;
    border-bottom: none;
  }
}

.header-navigation {
  display: flex;
  justify-content: center;
}

.nav-ul {
  min-height: 3em;
  list-style: none;
  margin: 0;
  text-transform: uppercase;
  display: flex;
  padding: 0px;
  @media (min-width: 500px) {
    justify-content: space-between;
    min-width: 40vw;
    border-bottom: 2px solid white;
    padding-right: 50px;
    min-height: 3em;
    padding-left: 20vw;
  }
}

.nav-li {
  margin: 0px;
  padding: 0.3em;
  align-self: flex-end;
}

.nav-link {
  display: block;
  padding: 8px;
  font-size: 1.05em;
  margin: 8 0px;
  @media (min-width: 800px) {
    margin: 0 8px;
    font-size: 1.25em;
  }
}
